In [2]:
import pandas as pd
import numpy as np

census= pd.read_csv(r'census_city.csv')

census_pop= pd.DataFrame(census)

census_pop

,Unnamed: 0,City,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,1,"New York city, New York","8,175,133","8,175,031","8,190,209","8,272,948","8,346,693","8,396,091","8,433,806","8,463,049","8,469,153","8,437,478","8,390,081","8,336,817"
1,2,"Los Angeles city, California","3,792,621","3,793,139","3,795,512","3,820,876","3,851,202","3,881,622","3,909,901","3,938,568","3,963,226","3,975,788","3,977,596","3,979,576"
2,3,"Chicago city, Illinois","2,695,598","2,695,652","2,697,477","2,708,114","2,719,141","2,725,731","2,727,066","2,724,344","2,716,723","2,711,069","2,701,423","2,693,976"
3,4,"Houston city, Texas","2,099,451","2,095,517","2,100,280","2,126,032","2,161,593","2,199,391","2,241,826","2,286,908","2,309,544","2,316,750","2,318,573","2,320,268"
4,5,"Phoenix city, Arizona","1,445,632","1,446,691","1,449,038","1,469,796","1,499,274","1,526,491","1,555,445","1,583,690","1,612,199","1,633,560","1,654,675","1,680,992"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783,784,"Lakewood city, Ohio","52,131","52,131","52,026","51,662","51,400","51,257","51,088","50,811","50,528","50,211","50,012","49,678"
784,785,"Troy city, New York","50,129","50,162","50,081","50,020","49,848","49,921","49,968","49,776","49,597","49,433","49,354","49,154"
785,786,"Saginaw city, Michigan","51,508","51,469","51,363","51,012","50,728","50,272","49,798","49,230","48,902","48,696","48,310","48,115"
786,787,"Niagara Falls city, New York","50,193","50,031","49,996","49,760","49,526","49,328","49,083","48,769","48,526","48,249","48,012","47,720"
787,788,"Charleston city, West Virginia","51,400","51,340","51,274","50,992","50,858","50,657","50,133","49,457","48,789","48,040","47,172","46,536"

In [3]:
census_pop.loc[:,'City'] = census_pop.City.map(lambda x : x.replace('city', ''))

In [4]:
census_pop

census_pop.to_csv(r'census_pop.csv')

In [16]:
prices = pd.read_csv(r'Sale_Prices_City.csv')
prices

,Unnamed: 0,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,0,6181,New York,New York,1,NaN,NaN,NaN,NaN,NaN,...,563200.0,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,571700.0,568300.0,573600.0
1,1,12447,Los Angeles,California,2,507600.0,489600.0,463000.0,453100.0,438100.0,...,706800.0,711800.0,717300.0,714100.0,711900.0,718400.0,727100.0,738200.0,760200.0,NaN
2,2,39051,Houston,Texas,3,138400.0,135500.0,132200.0,131000.0,133400.0,...,209700.0,207400.0,207600.0,207000.0,211400.0,211500.0,217700.0,219200.0,223800.0,NaN
3,3,17426,Chicago,Illinois,4,325100.0,314800.0,286900.0,274600.0,268500.0,...,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,281400.0,302900.0,309200.0
4,4,6915,San Antonio,Texas,5,130900.0,131300.0,131200.0,131500.0,131600.0,...,197100.0,198700.0,200200.0,200800.0,203400.0,203800.0,205400.0,205400.0,208300.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3723,3723,40400,Port Bolivar,Texas,3724,NaN,NaN,NaN,NaN,NaN,...,278400.0,254300.0,273200.0,286200.0,278100.0,285500.0,267200.0,302900.0,333700.0,330100.0
3724,3724,397820,Long Beach Township,New Jersey,3725,NaN,NaN,NaN,NaN,NaN,...,846300.0,912100.0,943700.0,897600.0,836000.0,839900.0,824100.0,839000.0,860600.0,NaN
3725,3725,37346,Beech Mountain,North Carolina,3726,NaN,NaN,NaN,NaN,NaN,...,191400.0,172700.0,195700.0,189500.0,166500.0,130900.0,139800.0,129400.0,124800.0,131000.0
3726,3726,34991,Corolla,North Carolina,3727,NaN,NaN,NaN,NaN,NaN,...,522400.0,521000.0,480000.0,430600.0,476400.0,560800.0,565400.0,514000.0,444200.0,NaN
3727,3727,52829,La Vernia,Texas,3728,NaN,NaN,NaN,NaN,NaN,...,337900.0,342900.0,358300.0,373100.0,375100.0,358600.0,356500.0,336700.0,340400.0,327000.0

In [81]:
prices_2010 = prices.iloc(axis=1)[[2,3,27,28,29,30,31,32,33,34,35,36,37,38]]
df = prices_2010.mean(axis=1)
avg_2010 = prices_2010.reset_index()

df
df.round(0)

0       457300.0
1       353725.0
2       134650.0
3       205200.0
4       131392.0
          ...
3723         NaN
3724         NaN
3725         NaN
3726         NaN
3727         NaN
Length: 3728, dtype: float64

In [84]:
avg_2010['2010 Avg Price'] = df
avg_2010

,index,RegionName,StateName,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,2010-10,2010-11,2010-12,2010 Avg Price
0,0,New York,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,457300.0,457300.000000
1,1,Los Angeles,California,359600.0,363900.0,360600.0,354100.0,351800.0,350900.0,352100.0,348300.0,350700.0,348500.0,350800.0,353400.0,353725.000000
2,2,Houston,Texas,135000.0,134900.0,136200.0,136400.0,135700.0,135000.0,131100.0,130900.0,129300.0,133400.0,136000.0,141900.0,134650.000000
3,3,Chicago,Illinois,229600.0,222400.0,218900.0,211900.0,214600.0,217800.0,206800.0,194500.0,180100.0,185400.0,190000.0,190400.0,205200.000000
4,4,San Antonio,Texas,130000.0,130500.0,130000.0,129900.0,128700.0,128600.0,128600.0,130700.0,132500.0,134800.0,136100.0,136300.0,131391.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3723,3723,Port Bolivar,Texas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3724,3724,Long Beach Township,New Jersey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3725,3725,Beech Mountain,North Carolina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3726,3726,Corolla,North Carolina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3727,3727,La Vernia,Texas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
master_avg = avg_2010.iloc(axis=1)[[1,2,15]]

In [110]:
prices

prices_2011 = prices.iloc(axis=1)[[39,40,41,42,43,44,45,46,47,48,49,50]]

prices_2011

df2011 = prices_2011.mean(axis=1)
df2011

master_avg.loc['2011 Avg Price'] = df2011

master_avg

,RegionName,StateName,2010 Avg Price,2011 Avg Price
0,New York,New York,457300.000000,466433.333333
1,Los Angeles,California,353725.000000,339916.666667
2,Houston,Texas,134650.000000,134650.000000
3,Chicago,Illinois,205200.000000,182666.666667
4,San Antonio,Texas,131391.666667,131633.333333
...,...,...,...,...
3724,Long Beach Township,New Jersey,NaN,NaN
3725,Beech Mountain,North Carolina,NaN,NaN
3726,Corolla,North Carolina,NaN,NaN
3727,La Vernia,Texas,NaN,NaN
2011 Avg Price,NaN,NaN,NaN,NaN

In [123]:
prices

prices_2012 = prices.iloc(axis=1)[[51,52,53,54,55,56,57,58,59,60,61,62]]

prices_2012

df2012 = prices_2012.mean(axis=1)
df2012

master_avg.loc['2012 Avg Price'] = df2012

master_avg

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,RegionName,StateName,2010 Avg Price,2011 Avg Price,2012 Avg Price,2013 Avg Price
0,New York,New York,457300.000000,466433.333333,474750.000000,482946.153846
1,Los Angeles,California,353725.000000,339916.666667,347141.666667,444023.076923
2,Houston,Texas,134650.000000,134650.000000,139950.000000,158700.000000
3,Chicago,Illinois,205200.000000,182666.666667,181566.666667,212307.692308
4,San Antonio,Texas,131391.666667,131633.333333,135691.666667,145292.307692
...,...,...,...,...,...,...
3726,Corolla,North Carolina,NaN,NaN,518740.000000,498846.153846
3727,La Vernia,Texas,NaN,NaN,NaN,NaN
2011 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN
2012 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN
2013 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
prices_2013 = prices.iloc(axis=1)[[63,64,65,66,67,68,69,70,71,72,73,74]]

prices_2013

df2013 = prices_2013.mean(axis=1)
df2013

master_avg.loc[:,'2013 Avg Price'] = df2013

master_avg

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,RegionName,StateName,2010 Avg Price,2011 Avg Price,2012 Avg Price,2013 Avg Price
0,New York,New York,457300.000000,466433.333333,474750.000000,483691.666667
1,Los Angeles,California,353725.000000,339916.666667,347141.666667,443841.666667
2,Houston,Texas,134650.000000,134650.000000,139950.000000,158116.666667
3,Chicago,Illinois,205200.000000,182666.666667,181566.666667,211350.000000
4,San Antonio,Texas,131391.666667,131633.333333,135691.666667,144908.333333
...,...,...,...,...,...,...
3726,Corolla,North Carolina,NaN,NaN,518740.000000,500558.333333
3727,La Vernia,Texas,NaN,NaN,NaN,NaN
2011 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN
2012 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN
2013 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
prices_2014 = prices.iloc(axis=1)[[76,76,77,78,79,80,81,82,83,84,85,86]]

prices_2014

df2014 = prices_2014.mean(axis=1)
df2014

master_avg.loc[:,'2014 Avg Price'] = df2014

master_avg

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,RegionName,StateName,2010 Avg Price,2011 Avg Price,2012 Avg Price,2013 Avg Price,2014 Avg Price
0,New York,New York,457300.000000,466433.333333,474750.000000,483691.666667,490233.333333
1,Los Angeles,California,353725.000000,339916.666667,347141.666667,443841.666667,459833.333333
2,Houston,Texas,134650.000000,134650.000000,139950.000000,158116.666667,168950.000000
3,Chicago,Illinois,205200.000000,182666.666667,181566.666667,211350.000000,239450.000000
4,San Antonio,Texas,131391.666667,131633.333333,135691.666667,144908.333333,154241.666667
...,...,...,...,...,...,...,...
3726,Corolla,North Carolina,NaN,NaN,518740.000000,500558.333333,478775.000000
3727,La Vernia,Texas,NaN,NaN,NaN,NaN,NaN
2011 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
prices_2015 = prices.iloc(axis=1)[[87,88,89,90,91,92,93,94,95,96,97,98]]

prices_2015

df2015 = prices_2015.mean(axis=1)
df2015

master_avg.loc[:,'2015 Avg Price'] = df2015

master_avg

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,RegionName,StateName,2010 Avg Price,2011 Avg Price,2012 Avg Price,2013 Avg Price,2014 Avg Price,2015 Avg Price
0,New York,New York,457300.000000,466433.333333,474750.000000,483691.666667,490233.333333,518291.666667
1,Los Angeles,California,353725.000000,339916.666667,347141.666667,443841.666667,459833.333333,493125.000000
2,Houston,Texas,134650.000000,134650.000000,139950.000000,158116.666667,168950.000000,170983.333333
3,Chicago,Illinois,205200.000000,182666.666667,181566.666667,211350.000000,239450.000000,236675.000000
4,San Antonio,Texas,131391.666667,131633.333333,135691.666667,144908.333333,154241.666667,164875.000000
...,...,...,...,...,...,...,...,...
3726,Corolla,North Carolina,NaN,NaN,518740.000000,500558.333333,478775.000000,453758.333333
3727,La Vernia,Texas,NaN,NaN,NaN,NaN,NaN,NaN
2011 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [135]:
prices_2016 = prices.iloc(axis=1)[[99,100,101,102,103,104,105,106,107,108,109,110]]

prices_2016

df2016 = prices_2016.mean(axis=1)
df2016

master_avg.loc[:,'2016 Avg Price'] = df2016

master_avg

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,RegionName,StateName,2010 Avg Price,2011 Avg Price,2012 Avg Price,2013 Avg Price,2014 Avg Price,2015 Avg Price,2016 Avg Price
0,New York,New York,457300.000000,466433.333333,474750.000000,483691.666667,490233.333333,518291.666667,537025.000000
1,Los Angeles,California,353725.000000,339916.666667,347141.666667,443841.666667,459833.333333,493125.000000,530608.333333
2,Houston,Texas,134650.000000,134650.000000,139950.000000,158116.666667,168950.000000,170983.333333,180991.666667
3,Chicago,Illinois,205200.000000,182666.666667,181566.666667,211350.000000,239450.000000,236675.000000,219291.666667
4,San Antonio,Texas,131391.666667,131633.333333,135691.666667,144908.333333,154241.666667,164875.000000,171508.333333
...,...,...,...,...,...,...,...,...,...
3726,Corolla,North Carolina,NaN,NaN,518740.000000,500558.333333,478775.000000,453758.333333,428191.666667
3727,La Vernia,Texas,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
prices_2017 = prices.iloc(axis=1)[[111,112,113,114,115,116,117,118,119,120,121,122]]

prices_2017

df2017 = prices_2017.mean(axis=1)
df2017

master_avg.loc[:,'2017 Avg Price'] = df2017

master_avg

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,RegionName,StateName,2010 Avg Price,2011 Avg Price,2012 Avg Price,2013 Avg Price,2014 Avg Price,2015 Avg Price,2016 Avg Price,2017 Avg Price
0,New York,New York,457300.000000,466433.333333,474750.000000,483691.666667,490233.333333,518291.666667,537025.000000,542558.333333
1,Los Angeles,California,353725.000000,339916.666667,347141.666667,443841.666667,459833.333333,493125.000000,530608.333333,568141.666667
2,Houston,Texas,134650.000000,134650.000000,139950.000000,158116.666667,168950.000000,170983.333333,180991.666667,191100.000000
3,Chicago,Illinois,205200.000000,182666.666667,181566.666667,211350.000000,239450.000000,236675.000000,219291.666667,226908.333333
4,San Antonio,Texas,131391.666667,131633.333333,135691.666667,144908.333333,154241.666667,164875.000000,171508.333333,177775.000000
...,...,...,...,...,...,...,...,...,...,...
3726,Corolla,North Carolina,NaN,NaN,518740.000000,500558.333333,478775.000000,453758.333333,428191.666667,457908.333333
3727,La Vernia,Texas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,306812.500000
2011 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [142]:
prices_2018 = prices.iloc(axis=1)[[123,124,125,126,127,128,129,130,131,132,133,134]]

prices_2018

df2018 = prices_2018.mean(axis=1)
df2018

master_avg.loc[:,'2018 Avg Price'] = df2018

master_avg

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,RegionName,StateName,2010 Avg Price,2011 Avg Price,2012 Avg Price,2013 Avg Price,2014 Avg Price,2015 Avg Price,2016 Avg Price,2017 Avg Price,2018 Avg Price
0,New York,New York,457300.000000,466433.333333,474750.000000,483691.666667,490233.333333,518291.666667,537025.000000,542558.333333,555475.000000
1,Los Angeles,California,353725.000000,339916.666667,347141.666667,443841.666667,459833.333333,493125.000000,530608.333333,568141.666667,638983.333333
2,Houston,Texas,134650.000000,134650.000000,139950.000000,158116.666667,168950.000000,170983.333333,180991.666667,191100.000000,197275.000000
3,Chicago,Illinois,205200.000000,182666.666667,181566.666667,211350.000000,239450.000000,236675.000000,219291.666667,226908.333333,246716.666667
4,San Antonio,Texas,131391.666667,131633.333333,135691.666667,144908.333333,154241.666667,164875.000000,171508.333333,177775.000000,188141.666667
...,...,...,...,...,...,...,...,...,...,...,...
3726,Corolla,North Carolina,NaN,NaN,518740.000000,500558.333333,478775.000000,453758.333333,428191.666667,457908.333333,446225.000000
3727,La Vernia,Texas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,306812.500000,327933.333333
2011 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013 Avg Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
prices_2019 = prices.iloc(axis=1)[[135,136,137,138,139,140,141,142,143,145,146]]

prices_2019

df2019 = prices_2019.mean(axis=1)
df2019

master_avg.loc[:,'2019 Avg Price'] = df2019

master_avg

master_avg.to_csv(r'avg_prices.csv')

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s